@import "../utils/mixins";
@import "../utils/variables";

.navigation {
  @include flex;
  border-bottom: 1px solid $border-color;
  background-color: $white;
  position: fixed;
  min-width: 100%;
  z-index: 10;
  &__box {
    @include flex;
    margin: auto auto;
    width: 1400px;
    height: 90px;
    &--logo {
      @include flex;
      width: 91px;
    }
    svg {
      color: $header-title;
      height: 32px;
      &:hover {
        color: $header-title;
      }
    }
    &--categories {
      @include flex;
      width: 590px;
      gap: 10px;
    }
    &--list {
      @include flex;
      width: 770px;
      gap: 10px;
    }
  }
}
