$white: #ffffff;
$black: #000000;
$blackLight: #050038;
$blue-btn: rgb(66, 98, 255);
$primary300: #455bed;
$border-color: rgb(240, 240, 240);
$background-color-social: rgb(245, 245, 247);
$header-title: rgb(5, 0, 56);
$input-text: rgb(155, 153, 175);
$box-shadow-color-head: rgb(217, 224, 255);
$color-blue-300: #4262ff;
$blue-dark: #050038;
$hover-buttom: rgb(241, 243, 253);
$yellow300: #ffd02f;
